In [1]:
import pandas as pd
import numpy as np

In [2]:
import nltk 
import re

In [3]:
data=pd.read_csv('Data.csv', encoding = "ISO-8859-1")

In [4]:
data.head(4)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,2000-01-05,0,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links
3,2000-01-06,1,Pilgrim knows how to progress,Thatcher facing ban,McIlroy calls for Irish fighting spirit,Leicester bin stadium blueprint,United braced for Mexican wave,"Auntie back in fashion, even if the dress look...",Shoaib appeal goes to the top,Hussain hurt by 'shambles' but lays blame on e...,...,Putin admits Yeltsin quit to give him a head s...,BBC worst hit as digital TV begins to bite,How much can you pay for...,Christmas glitches,"Upending a table, Chopping a line and Scoring ...","Scientific evidence 'unreliable', defence claims",Fusco wins judicial review in extradition case,Rebels thwart Russian advance,Blair orders shake-up of failing NHS,Lessons of law's hard heart

In [5]:
data.shape

(4101, 27)

In [6]:
data.columns

Index(['Date', 'Label', 'Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15',
       'Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21', 'Top22', 'Top23',
       'Top24', 'Top25'],
      dtype='object')

In [7]:
data.drop(['Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21', 'Top22', 'Top23',
       'Top24', 'Top25'],axis=1,inplace=True)

In [8]:
data.shape

(4101, 17)

In [9]:
train=data[data['Date']<'20150101']
test=data[data['Date']>'20150101']

In [10]:
train.shape,test.shape

((3975, 17), (126, 17))

In [11]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [12]:
data.columns

Index(['Date', 'Label', 'Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15'],
      dtype='object')

In [13]:
data.replace('[^A-Za-z]',' ',inplace=True,regex=True)
data.head(2)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,Top11,Top12,Top13,Top14,Top15
0,,0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar s debut double,Southgate strikes Leeds pay the penalty,Hammers hand Robson a youthful lesson,Saints party like it s,Wear wolves have turned into lambs,Stump mike catches testy Gough s taunt,Langer escapes to hit
1,,0,Scorecard,The best lake scene,Leader German sleaze inquiry,Cheerio boyo,The main recommendations,Has Cubie killed fees,Has Cubie killed fees,Has Cubie killed fees,Hopkins furious at Foster s lack of Hannibal...,Has Cubie killed fees,A tale of two tails,I say what I like and I like what I say,Elbows Eyes and Nipples,Task force to assess risk of asteroid collision,How I found myself at last

In [14]:
index=['Date', 'Label', 'Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15']

In [15]:
x=train.drop(['Date', 'Label'],axis=1)
y=train['Label']

In [16]:
x.head(1)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,Top11,Top12,Top13,Top14,Top15
0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar's debut double,"Southgate strikes, Leeds pay the penalty",Hammers hand Robson a youthful lesson,Saints party like it's 1999,Wear wolves have turned into lambs,Stump mike catches testy Gough's taunt,Langer escapes to hit 167

In [17]:
x.columns=np.arange(15)
x.head(2) 
x.shape

(3975, 15)

In [18]:
for i in x.columns:
    x[i] =x[i].str.lower()
x.head(1)
x.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3965, 3966, 3967, 3968, 3969, 3970, 3971, 3972, 3973, 3974],
           dtype='int64', length=3975)

In [19]:
headlines=[]
for row in range(len(x.index)):
    headlines.append(' '.join(str(x) for x in x.iloc[row,0:15]))
headlines[1]

"scorecard the best lake scene leader: german sleaze inquiry cheerio, boyo the main recommendations has cubie killed fees? has cubie killed fees? has cubie killed fees? hopkins 'furious' at foster's lack of hannibal appetite has cubie killed fees? a tale of two tails i say what i like and i like what i say elbows, eyes and nipples task force to assess risk of asteroid collision how i found myself at last"

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(ngram_range=(2,2))
fea_train=cv.fit_transform(headlines)
fea_train.shape

(3975, 397877)

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(fea_train,y)

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [23]:
x1=test.drop(['Date', 'Label'],axis=1)
y1=test['Label']
x1.shape

(126, 15)

In [24]:
x1.columns=np.arange(15)
x1.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
3975,Saudi Arabia breaks off ties with Iran - Amid ...,Exclusive: UK Government urged to reveal its r...,China halts trading as stocks fall 7%,Earthquake measuring 6.8 magnitude strikes India,A virus linked to shrinking newborns brains is...,"New photos of SpaceX booster show sooty, but u...",Indian consulate in Afghanistan under attack b...,Iran calls off Major Hajj,Denmark responds to Swedish border checks with...,David Cameron criticised for turning 'blind ey...,Denmark introduces temporary controls along Ge...,Israel Retaliates to Hezbollah bombing at Leba...,China Aims to Build 40 Nuclear Power Plants in...,"According to obtained documents, after rape an...",Western Australian rooftop solar systems produ...
3976,"Dutch government backs strong encryption, cond...",ISIS Militants Strap Bomb on 4 Year-Old Boy an...,Canada proceeding with controversial $15-billi...,Brazil is heading for its worst recession sinc...,British ISIS militant's desperate plea for doc...,Malaysia's schools will start holding anti-ISI...,Saudi Arabia omitted from UK death penalty str...,ISIS executes first female journalist. One of ...,The U.S. Justice Department has sued Volkswage...,Leaked memo shows Saudi Arabia was fully prepa...,Sister of British extremist fighter says she w...,Mexico first country to approve Israeli drug t...,Jihadi Junior - 6 or 7 year old boy in new Isl...,Nuns claim they were forced to brand themselve...,Malaysia Airlines temporarily bans checked bag...

In [25]:
for i in x1.columns:
    x1[i] =x1[i].str.lower()
x1.head(1)
x1.index

Int64Index([3975, 3976, 3977, 3978, 3979, 3980, 3981, 3982, 3983, 3984,
            ...
            4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100],
           dtype='int64', length=126)

In [26]:
headlines1=[]
for row in range(len(x1.index)):
    headlines1.append(' '.join(str(x) for x in x1.iloc[row,0:15]))
headlines1[2]

"china shuts down stock market after 15 min 7% loss. armed suspect shot dead after trying to storm paris police station oil price falls below $35 a barrel to fresh 11-year low germans outraged by mayors advice for women after raft of harassment german public broadcaster zdf has apologised for delays in reporting on a wave of sexual assaults blamed on men of arab appearance amid accusations wednesday of media self-censorship of the inflammatory issue. iran accuses saudis of bombing their embassy in sana'a, yemen protesters demand canada cancel $15b saudi contract 'snooper's charter' will cost british lives, mps to be warned | former nsa security chief-turned-whistleblower says plan for bulk collection of communications data is 99% useless islamic scholars from malaysia and indonesia issue a fatwa against poachers, declaring wildlife poaching a sin turkish workshop employs syrian minors to produce fake life jackets that often absorb water and drag the user down 100 murdered christians who were gang-raped, disemboweled or burned alive when they refused to convert to hindus could be canonised by the pope south korea to restart propaganda loudspeakers on north's border egypt asks israel to keep turkey away from gaza reducing sugar content in sugar-sweetened drinks by 40 percent over 5 years could prevent 1.5 million cases of overweight and obesity in the uk and 300,000 cases of diabetes scientists discover meteorite 'older than earth itself' in australian outback"

In [27]:
fea_test=cv.transform(headlines1)
fea_test.shape

(126, 397877)

In [28]:
predictions = randomclassifier.predict(fea_test)

In [29]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [30]:

matrix=confusion_matrix(y1,predictions)
print(matrix)
score=accuracy_score(y1,predictions)
print(score)
report=classification_report(y1,predictions)
print(report)

[[ 7 49]
 [ 9 61]]
0.5396825396825397
              precision    recall  f1-score   support

           0       0.44      0.12      0.19        56
           1       0.55      0.87      0.68        70

    accuracy                           0.54       126
   macro avg       0.50      0.50      0.44       126
weighted avg       0.50      0.54      0.46       126